.learn-more {
	width: 1224px;
	height: 136px;
	border: 1.5px solid #000000;
	border-radius: 136px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	&:hover {
		cursor: pointer;
	}

	& .text {
		width: fit-content;
		height: 28px;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		line-height: 28px;
		text-transform: uppercase;
		color: #000000;
		margin-right: 54px;
	}

	& .icon {
		width: 47.3px;
		height: 47.3px;

		& img {
			width: 100%;
			height: 100%;
		}
	}
}

@media (max-width: 1440px) {
	.learn-more {
		width: 928px;
		height: 128px;
	}

}

@media (max-width: 1100px) {
	.learn-more {
		width: 832px;
		height: 104px;
	}
}

@media (max-width: 980px) {
	.learn-more {
		width: 678px;
		height: 104px;
	}

}

@media (max-width: 800px) {
	.learn-more {
		width: 628px;
		height: 81px;

		& .text {
			// width: 245px;
			margin-right: 32px;
			font-size: 16px;
		}

		& .icon {
			width: 28.6px;
			height: 28.6px;

		}
	}
}

@media (max-width: 730px) {
	.learn-more {
		width: 540px;
		height: 81px;

		& .text {
			// width: 245px;
			margin-right: 32px;
			font-size: 16px;
		}

		& .icon {
			width: 28.6px;
			height: 28.6px;

		}
	}
}

@media (max-width: 645px) {
	 .learn-more {
		width: 420px;
		height: 81px;

		& .text {
			// width: 215px;
			margin-right: 32px;
			font-size: 14px;
		}

		& .icon {
			width: 28.6px;
			height: 28.6px;

		}
	}
}

@media (max-width: 520px) {
	.learn-more {
		width: 100%;
		height: 81px;

		& .text {
			// width: fit-content;
			margin-right: 0;
			font-size: 14px;
		}

		& .icon {
			display: none;

		}
	}
}

@media (max-width: 410px) {
	.learn-more {
		height: 56px;
	}
}