.company_info {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	& .col {
		text-align: left;
		width: 600px;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 32px;

		& a {
			color: #0073E6;
		}

		letter-spacing: -0.035em;

		margin-bottom: 40px;

		&:first-child {
			margin-right: 30px;
		}

		&:nth-child(2) {
			width: 592px;
		}

		&:last-child {
			width: 640px;
			font-size: 16px;
			margin-bottom: 0;
		}
	}
}


@media (max-width: 1440px) {
	.company_info {
		& .col {
			font-size: 16px;
			line-height: 27px;
			margin-bottom: 39px;

			&:first-child {
				margin-right: 28px;
				width: 454px;
			}

			&:nth-child(2) {
				width: 436px;
			}
		}
	}
}

@media (max-width: 1100px) {
	.company_info {
		& .col {
			&:nth-child(1),
			&:nth-child(2) {
				width: 100%;
				margin-bottom: 16px;
			}
		}
	}
}

@media (max-width: 980px) {
	.company_info {
		& .col {
			&:nth-child(1),
			&:nth-child(2) {
				width: 100%;
				margin-bottom: 16px;
			}
		}
	}
}

@media (max-width: 800px) {
	.company_info {
		margin-bottom: 52px;
		& .col {
			font-size: 14px;
			line-height: 22px;

			&:nth-child(1) {
				margin-right: 0;
			}

			&:nth-child(1),
			&:nth-child(2) {
				width: 100%;
				margin-bottom: 16px;
			}
		}
	}
}

@media (max-width: 730px) {
	.company_info {
		margin-bottom: 0px;
	}
}

@media (max-width: 645px) {
	.company_info {
		margin-bottom: 0px;
	}
}

@media (max-width: 520px) {
	.company_info {
		margin-bottom: 30px;

		& .col {
			margin-bottom: 15px;	
			
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				width: 100%;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media (max-width: 410px) {
	.company_info {
		margin-bottom: 30px;

		& .col {
			margin-bottom: 15px;	
			
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				width: 100%;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}