.popup-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,1);

	.popup {
		width: 1400px;
	    height: 1103px;
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    background-color: white;
	    border: 1.5px solid #000000;
		box-sizing: border-box;
		border-radius: 24px;
		padding: 70px 80px 105px 80px;

		& .logo {
			margin-right: auto;
			text-align: unset;
			width: 326px;
			height: 85px;
			margin-bottom: 38px;
		}

		& .closePopup {
			width: 64px;
			height: 64px;
			position: fixed;
			top: 32px;
			right: 32px;

			&:hover {
				cursor: pointer;
			}
		}

		& .company_info {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			& .col {
				text-align: left;
				width: 600px;
				font-family: "Graphik RBC LC";
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 32px;

				letter-spacing: -0.035em;

				color: #000000;
				margin-bottom: 40px;

				&:first-child {
					margin-right: 30px;
				}

				&:nth-child(2) {
					width: 592px;
				}

				&:last-child {
					width: 640px;
					font-size: 16px;
					margin-bottom: 0;
				}
			}
		}

		& .company_partners {
			width: 1226px;
			height: 336px;
			background-color: white;
			position: relative;
			margin-bottom: 70px;

			& .partner_info {
				background-color: #DED7CE;
				// width: 1226px;
				width: 100%;
				height: 270px;
				position: absolute;
				bottom: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				padding: 40px;
				box-sizing: border-box;
				border-radius: 18px;

				& .info,
				& .name,
				& .partner {
					font-family: "Graphik RBC LC";
					font-style: normal;
					font-weight: normal;
					color: #000000;
				}

				& .info {
					font-size: 23px;
					line-height: 31px;
					width: 517px;
					height: 93px;
					margin-bottom: 46px;
				}

				& .name {
					font-size: 24px;
					line-height: 21px;
					margin-bottom: 11px;
					width: 221px;
					height: 21px;
				}

				& .partner {
					font-size: 14px;
					line-height: 17px;
					text-transform: uppercase;
				}
			}

			& .partner_photo {
				z-index: 3;
				width: 488px;
				height: 336px;
				position: absolute;
				right: 159px;
				bottom: 0;

				& img {
					width: 100%;
					height: 100%;
				}
			}
		}

		& .learn-more {
			width: 1224px;
			height: 136px;
			border: 1.5px solid #000000;
			border-radius: 136px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			&:hover {
				cursor: pointer;
			}

			& .text {
				width: 352px;
				height: 28px;
				font-family: "Graphik RBC LC";
				font-style: normal;
				font-weight: normal;
				font-size: 23px;
				line-height: 28px;
				text-transform: uppercase;
				color: #000000;
				margin-right: 54px;
			}

			& .icon {
				width: 47.3px;
				height: 47.3px;

				& img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

@media (max-width: 1440px) {
	.popup-bg {
		.popup {
			width: 1080px;
			height: 988px;
			padding: 52px 53px 87px 79px;

			& .logo {
				width: 247px;
				height: 65px;
				margin-bottom: 53px;
			}

			& .company_info {
				& .col {
					font-size: 16px;
					line-height: 27px;
					margin-bottom: 39px;

					&:first-child {
						margin-right: 28px;
						width: 454px;
					}

					&:nth-child(2) {
						width: 436px;
					}
				}
			}

			& .company_partners {
				width: 928px;
				height: 251px;
				margin-bottom: 70px;

				& .partner_info {
					height: 204px;
					padding: 30px;

					& .info,
					& .name,
					& .partner {
						// font-family: Graphik RBC LC;
						font-style: normal;
						font-weight: normal;
						color: #000000;
					}

					& .info {
						font-size: 20px;
						line-height: 27px;
						width: 441px;
						height: 81px;
						margin-bottom: 20px;
					}

					& .name {
						font-size: 21px;
						line-height: 21px;
						margin-bottom: 8px;
						width: 193px;
						height: 21px;
					}

					& .partner {
						width: 118px;
						height: 14px;
						font-size: 12px;
						line-height: 14px;
					}
				}

				& .partner_photo {
					width: 364px;
					height: 251px;
					right: 79px;


				}
			}

			& .learn-more {
				width: 928px;
				height: 128px;
			}
		}
	}
}

@media (max-width: 1100px) {
	.popup-bg {
		.popup {
			width: 928px;
			height: 934px;
			padding: 45px 48px 80px 38px;

			& .logo {
				margin-bottom: 40px;
			}

			& .company_info {
				& .col {
					&:nth-child(1),
					&:nth-child(2) {
						width: 100%;
						margin-bottom: 16px;
					}
				}
			}

			& .company_partners {
				width: 832px;
				margin-bottom: 60px;

				& .partner_photo {
					right: 11px;
				}
			}

			& .learn-more {
				width: 832px;
				height: 104px;
			}
		}
	}
}

@media (max-width: 980px) {
	.popup-bg {
		.popup {
			width: 768px;
			height: 934px;
			padding: 45px 48px 80px 38px;

			& .logo {
				margin-bottom: 40px;
			}

			& .company_info {
				& .col {
					&:nth-child(1),
					&:nth-child(2) {
						width: 100%;
						margin-bottom: 16px;
					}
				}
			}

			& .company_partners {
				width: 678px;
				margin-bottom: 60px;

				& .partner_info {
					// height: 185px;

					& .info {
						font-size: 16.36px;
						// line-height: 23px;
						width: 363px;
						height: 69px;
						margin-bottom: 30px;
					}
				}

				& .partner_photo {
					right: -15px;
				}
			}

			& .learn-more {
				width: 678px;
				height: 104px;
			}
		}
	}
}

@media (max-width: 788px) {
	.popup-bg {
		.popup {
			width: 703px;
			height: 831px;
			padding: 52px 38px 61px 29px;

			& .logo {
				margin-bottom: 28px;
				width: 200px;
				height: 53px;
			}

			& .closePopup {
				width: 48px;
				height: 48px;
				top: 24px;
				right: 24px;
			}

			& .company_info {
				margin-bottom: 52px;
				& .col {
					font-size: 14px;
					line-height: 22px;

					&:nth-child(1) {
						margin-right: 0;
					}

					&:nth-child(1),
					&:nth-child(2) {
						width: 100%;
						margin-bottom: 16px;
					}
				}
			}

			& .company_partners {
				width: 629px;
				height: 227px;
				margin-bottom: 42px;

				& .partner_info {
					height: 185px;

					& .info {
						font-size: 16px;
						line-height: 23px;
						width: 363px;
						height: 69px;
					}

					& .name {
						font-size: 18px;
						margin-bottom: 7px;
						width: 167px;
						height: 21px;
					}

					& .partner {
						font-size: 12px;
						line-height: 14.4px;
						width: 119px;
						height: 14px;
					}

				}

				& .partner_photo {
					right: -20px;
					width: 328px;
					height: 227px;
				}
			}

			& .learn-more {
				width: 628px;
				height: 81px;

				& .text {
					width: 245px;
					margin-right: 32px;
					font-size: 16px;
					// line-height: 19.2px;
				}

				& .icon {
					width: 28.6px;
					height: 28.6px;

				}
			}
		}
	}
}