.popup-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	// transition: opacity 500ms;
	// visibility: hidden;
	// opacity: 0;


	.popup {
		width: 1400px;
	    height: 1103px;
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    background-color: white;
	    border: 1.5px solid #000000;
		box-sizing: border-box;
		border-radius: 24px;
		padding: 70px 80px 105px 80px;
		// border: 1.5px solid #000000;

		& .logo {
			margin-right: auto;
			text-align: unset;
			width: 326px;
			height: 85px;
			margin-bottom: 38px;
		}

		& .closePopup {
			// margin-right: auto;
			// text-align: unset;
			// width: 326px;
			// height: 85px;
			// margin-bottom: 38px;
			width: 64px;
			height: 64px;
			position: fixed;
			top: 32px;
			right: 32px;

			&:hover {
				cursor: pointer;
			}
		}

		& .company_info {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			& .col {
				text-align: left;
				width: 600px;
				font-family: "Graphik RBC LC";
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 32px;
				/* or 178% */

				letter-spacing: -0.035em;

				color: #000000;
				margin-bottom: 40px;

				&:first-child {
					margin-right: 30px;
				}

				&:second-child {
					width: 592px;
				}

				&:last-child {
					width: 640px;
					font-size: 16px;
					margin-bottom: 0;
				}
			}
		}

		& .company_partners {
			width: 1226px;
			height: 336px;
			background-color: white;
			position: relative;
			margin-bottom: 70px;

			& .partner_info {
				background-color: #DED7CE;
				width: 1226px;
				height: 270px;
				position: absolute;
				bottom: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				padding: 40px;
				box-sizing: border-box;
				border-radius: 18px;

				& .info,
				& .name,
				& .partner {
					// font-family: Graphik RBC LC;
					font-style: normal;
					font-weight: normal;
					color: #000000;
				}

				& .info {
					font-size: 23px;
					line-height: 31px;
					width: 517px;
					height: 93px;
					margin-bottom: 46px;
				}

				& .name {
					font-size: 24px;
					line-height: 21px;
					// position: absolute;
					margin-bottom: 11px;
					width: 221px;
					height: 21px;
					// left: 388px;
					// top: 845px;
				}

				& .partner {
					font-size: 14px;
					line-height: 17px;
					text-transform: uppercase;
				}
			}

			& .partner_photo {
				z-index: 3;
				width: 488px;
				height: 336px;
				position: absolute;
				right: 159px;
				bottom: 0;
			}
		}

		& .learn-more {
			width: 1224px;
			height: 136px;
			border: 1.5px solid #000000;
			border-radius: 136px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			&:hover {
				cursor: pointer;
			}

			& .text {
				width: 352px;
				height: 28px;
				// left: 724px;
				// bottom: 437px;

				// font-family: Graphik RBC LC;
				font-style: normal;
				font-weight: normal;
				font-size: 23px;
				line-height: 28px;
				text-transform: uppercase;
				color: #000000;
				margin-right: 54px;
			}

			& .icon {
				width: 47.3px;
				height: 47.3px;

				& img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}