.popup-bg {
	overflow-y: auto;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex; 
	justify-content: center;
	background-color: rgba(255,255,255,1);

	.popup {
  		margin: 20px;
		width: 1400px;
		position: relative;
	    height: 1103px;
	    background-color: white;
	    border: 1.5px solid #000000;
		box-sizing: border-box;
		border-radius: 24px;
		padding: 70px 80px 105px 80px;

		& .logo {
			margin-right: auto;
			text-align: unset;
			width: 326px;
			height: 85px;
			margin-bottom: 38px;
		}

		& .closePopup {
			width: 64px;
			height: 64px;
			position: absolute;
			top: 32px;
			right: 32px;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 1440px) {
	.popup-bg {
		.popup {
			width: 1080px;
			height: 988px;
			padding: 52px 53px 87px 79px;

			& .logo {
				width: 247px;
				height: 65px;
				margin-bottom: 53px;
			}
		}
	}
}

@media (max-width: 1100px) {
	.popup-bg {
		.popup {
			width: 928px;
			height: 934px;
			padding: 45px 48px 80px 38px;

			& .logo {
				margin-bottom: 40px;
			}
		}
	}
}

@media (max-width: 980px) {
	.popup-bg {
		.popup {
			width: 768px;
			height: 934px;
			padding: 45px 48px 80px 38px;

			& .logo {
				margin-bottom: 40px;
			}
		}
	}
}

@media (max-width: 800px) {
	.popup-bg {
		.popup {
			width: 703px;
			height: 831px;
			padding: 52px 38px 61px 29px;

			& .logo {
				margin-bottom: 28px;
				width: 200px;
				height: 53px;
			}

			& .closePopup {
				width: 48px;
				height: 48px;
				top: 24px;
				right: 24px;
			}
		}
	}
}

@media (max-width: 730px) {
	.popup-bg {
		.popup {
			width: 600px;
		}
	}
}

@media (max-width: 645px) {
	.popup-bg {
		.popup {
			width: 480px;
			height: 1050px;
		}
	}
}

@media (max-width: 520px) {
	.popup-bg {
		.popup {
			width: 480px;
			height: 1000px;
			padding: 20px;
			border: none;
			margin: 0;

			& .logo {
				width: 189px;
				height: 51px;
				margin-bottom: 30px;
				margin-top: 5px;
			}
		}
	}
}

@media (max-width: 410px) {
	.popup-bg {
		.popup {
			width: 480px;
			height: 1150px;
			padding: 20px;
			border: none;

			& .logo {
				width: 189px;
				height: 51px;
				margin-bottom: 30px;
				margin-top: 5px;
			}
		}
	}
}