.App {
  /*text-align: center;*/
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;

  &_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 500px;
    margin: 200px auto;

    & .logo {
      width: 200px;
      height: 100px;
      background-color: #DED7CE;
      padding: 2px 5px;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
      }

      & img {
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }
  }
}

@media (max-width: 900px) {
  .App {
    &_wrapper {
      flex-direction: column;
      justify-content: center;
      align-content: center;

      & .logo {
        margin-bottom: 20px;
      }
    }
  }
}