@font-face {
  font-family: 'Graphik RBC LC';
  src: local('Graphik RBC LC'), url(./assets/fonts/Graphik-RBC-LC/Graphik RBC LC-Regular.otf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Graphik RBC LC';
  src: local('Graphik RBC LC'), url(./assets/fonts/Graphik-RBC-LC/Graphik RBC LC-Bold.otf) format('opentype');
  font-weight: bold;
}

body {
  margin: 0;
  color: #000000;
  font-family: "Graphik RBC LC";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
	box-sizing: border-box;
}