@font-face {
  font-family: 'Graphik RBC LC';
  src: local('Graphik RBC LC'), url(./assets/fonts/Graphik-RBC-LC/Graphik RBC LC-Regular.otf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Graphik RBC LC';
  src: local('Graphik RBC LC'), url(./assets/fonts/Graphik-RBC-LC/Graphik RBC LC-Bold.otf) format('opentype');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
	box-sizing: border-box;
}